<nav
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
>
  {% url 'FrontpageView' as frontpage_url %}
  {% url 'PagesView' as pages_url %}
  {% url 'UsersView' as users_url %}
  {% url 'UploadImageView' as images_url %}
  {% url 'LoginView' as login_url %}
  {% url 'LogoutView' as logout_url %}
  <div class="hidden w-full md:block" role="tablist">
    <div class="overflow-y-hidden">
      <div class="flex overflow-x-scroll">
        <div class="relative flex grow">
          {% include "cms/Modules/MenuItems.html" with label="Frontpage" link=frontpage_url icon="home" %}
          {% include "cms/Modules/MenuItems.html" with label="Pages" link=pages_url icon="web" %}
          {% include "cms/Modules/MenuItems.html" with label="Users" link=users_url icon="face" %}
          {% include "cms/Modules/MenuItems.html" with label="Images" link=images_url icon="collections" %}
          <div class="m-2">
              {% include "cms/Components/Button.html" with text="Log Out" post=logout_url pushurl=login_url target="body" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <details
    class="grid leading-10 md:hidden"
  >
    <summary class="px-4 text-white bg-violet-800 marker:text-white">Menu</summary>
    <div
      class="flex flex-col"
    >
      {% include "cms/Modules/MenuItems.html" with label="Frontpage" link=frontpage_url icon="home" %}
      {% include "cms/Modules/MenuItems.html" with label="Pages" link=pages_url icon="web" %}
      {% include "cms/Modules/MenuItems.html" with label="Users" link=users_url icon="face" %}
      {% include "cms/Modules/MenuItems.html" with label="Images" link=images_url icon="collections" %}
      <div class="m-2">
          {% include "cms/Components/Button.html" with text="Log Out" post=logout_url pushurl=login_url %}
      </div>
    </div>
  </details>
</nav>