<nav
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
>
  <div class="hidden mdc-tab-bar md:block" role="tablist">
    <div class="mdc-tab-scroller">
      <div class="mdc-tab-scroller__scroll-area">
        <div class=" mdc-tab-scroller__scroll-content">
        
          {% include "cms/Modules/MenuItems.html" with label="Frontpage" link="/" icon="home" %}
          {% include "cms/Modules/MenuItems.html" with label="Pages" link="/pages/" icon="web" %}
          {% include "cms/Modules/MenuItems.html" with label="Users" link="/users/" icon="face" %}
          {% include "cms/Modules/MenuItems.html" with label="Images" link="/images/" icon="collections" %}
          <div class="m-2">
              {% include "cms/Components/Button.html" with text="Log Out" post="/logout/" pushurl="/login/" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <details
    class="grid leading-10 md:hidden"
  >
    <summary class="px-4 text-white bg-violet-800 marker:text-white">Menu</summary>
    <div
      class="flex flex-col"
    >
      {% include "cms/Modules/MenuItems.html" with label="Frontpage" link="/" icon="home" %}
      {% include "cms/Modules/MenuItems.html" with label="Pages" link="/pages/" icon="web" %}
      {% include "cms/Modules/MenuItems.html" with label="Users" link="/users/" icon="face" %}
      {% include "cms/Modules/MenuItems.html" with label="Images" link="/users/" icon="collections" %}
      <div class="m-2">
          {% include "cms/Components/Button.html" with text="Log Out" post="/logout/" pushurl="/login/" %}
      </div>
    </div>
  </details>
</nav>


{% block scripts %}
    <script>
        mdc.tabBar.MDCTabBar.attachTo(document.querySelector('.mdc-tab-bar'));
    </script>
{% endblock %}