<p
    class="
        w-full
        max-w-sm
        mx-auto
        text-base
        {% if component.values|get_value_by_key:'alignment' == 'center' %}text-center{% endif %}
        {% if component.values|get_value_by_key:'alignment' == 'right' %}text-right{% endif %}
        {% if component.values|get_value_by_key:'alignment' == 'left' %}text-left{% endif %}
        {% if component.values|get_value_by_key:'bold' == 'True' %}font-bold{% endif %}
    "
    style="color:{{component.values|get_value_by_key:'text_color'}};"
>
    {{component.values|get_value_by_key:'text'}}
</p>