<h1
    class="
        w-full
        max-w-sm
        text-3xl
        {% if component.values|get_value_by_key:'alignment' == 'center' %}text-center mx-auto{% endif %}
        {% if component.values|get_value_by_key:'alignment' == 'right' %}text-right{% endif %}
        {% if component.values|get_value_by_key:'alignment' == 'left' %}text-left{% endif %}
        {% if component.values|get_value_by_key:'bold' == 'True' %}font-bold{% endif %}
    "
    style="color:{{component.values|get_value_by_key:'title_color'}};"
>
    {{component.values|get_value_by_key:'text'}}
</h1>