{% extends "cms/Layout.html" %}

{% block navigation %}
    {% include "cms/Modules/Navigation.html" with selected="Pages" %}
{% endblock %}

{% block header %}
    {% include "cms/Components/Title.html" with text="Create Page" %}
{% endblock %}

{% block main_content %}
    {% include "cms/Modules/MessagesList.html" %}
    <form id="form"
        hx-post="/pages/create/"
        hx-push-url="true"
        hx-target="#main"
        hx-swap="innerhtml"
        class="flex flex-col"
    >
        {% include "cms/Components/TextInput.html" with name="title" label="Title" value=title %}
        {% include "cms/Components/TextInput.html" with name="slug" label="Slug" value=slug %}
        {% include "cms/Components/TextInput.html" with name="thumbnail" label="Thumbnail Image" value=thumbnail_url not_required="True" %}

        {% include "cms/Components/Button.html" with text="Create Page" type="submit" %} 
    </form>
{% endblock %}
