{% extends "cms/Layout.html" %}

{% block favicon %}
    {{page.thumbnail_url}}
{% endblock %}

{% block navigation %}
    {% include "cms/Modules/Navigation.html" with selected="Pages" %}
{% endblock %}

{% block header %}
    {% include "cms/Components/Title.html" with text="Edit" %}
    {% comment %} {% include "cms/Components/Button.html" with text="Delete" color="#ce6060" %} {% endcomment %}
{% endblock %}

{% block main_content %}
    {% include "cms/Modules/MessagesList.html" %}
    {% include "Cms/Modules/EditPageForm.html" %}
    <div class="flex flex-col gap-8 py-8">
        {% for section in sections %}
            {% include "Cms/Modules/SectionEdit.html" with section=section sections=sections %}
        {% empty %}
            {% include "cms/Components/Text.html" with text="No sections. Add one below!" %}
        {% endfor %}
    </div>
    {% include "Cms/Modules/AddSectionForm.html" %}
    {% include "Cms/Modules/AddImageForm.html" %}

{% endblock %}
