{% extends "cms/Layout.html" %}

{% block navigation %}
  {% include "cms/Modules/Navigation.html" with selected="Frontpage" %}
{% endblock %}

{% block header %}
    {% include "cms/Components/Title.html" with text="CMS" %}
    <div
      class="italic opacity-40"
    >
      {% include "cms/Components/Text.html" with text="---Your Web Page Builder" %}
    </div>
{% endblock %}

{% block main_content %}
    {% include "cms/Modules/MessagesList.html" %}
    <div
        class="flex flex-col gap-4 p-4 pt-0 mt-4 bg-white rounded-md"
    >
      {% include "cms/Components/Text.html" with text="This is the CMS for the bachelor project PageManager. Here, you can create and edit Pages." %}
      <div
        class="flex justify-center gap-2"
      >
        {% url 'PagesView' as pages_url %}
        {% include "cms/Components/Button.html" with text="View Pages" get=pages_url %}
        {% url 'CreatePageView' as create_url %}
        {% include "cms/Components/Button.html" with text="Create New Page" get=create_url %}
      </div>
    </div>
{% endblock %}
