{% extends "cms/Layout.html" %}

{% block navigation %}
  {% include "cms/Modules/Navigation.html" with selected="Images" %}
{% endblock %}

{% block header %}
    {% include "cms/Components/Title.html" with text="All Pages" %}
{% endblock %}

{% block main_content %}
    {% include "cms/Modules/MessagesList.html" %}
    <ul
        class="mdc-list mdc-list--two-line {% if item.thumbnail_url %}mdc-list--image-list{% else %}mdc-list--icon-list{% endif %}"
        id="imagelist"
    >
        {% for item in images %}
            <div class="my-2 mdc-card">
                <li
                    class="py-2 mdc-list-item"
                    tabindex="0"
                >
                    <span class="flex items-center mx-2 w-9 mdc-list-item__avatar">
                        <img class="rounded" src="{{item.url}}" alt="Thumbnail Image"/>
                    </span>
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">{{item.name}}</span>
                    <span class="flex flex-row mdc-list-item__secondary-text">
                    {{item.url}}
                    <svg title="Copy URL" onclick="navigator.clipboard.writeText('{{item.url}}');" class="mx-2 fill-black hover:bg-violet-500 hover:fill-white" xmlns="http://www.w3.org/2000/svg" height="15" viewBox="0 -960 960 960" width="15"><path d="M180-81q-24 0-42-18t-18-42v-603h60v603h474v60H180Zm120-120q-24 0-42-18t-18-42v-560q0-24 18-42t42-18h440q24 0 42 18t18 42v560q0 24-18 42t-42 18H300Zm0-60h440v-560H300v560Zm0 0v-560 560Z"/></svg>
                    </span>
                    </span>
                </li>
                <li role="separator" class="mdc-list-divider"></li>
                <div class="justify-end mdc-card__actions">
                    <button
                        class="mdc-button mdc-card__action mdc-card__action--button hover:bg-red-100"
                        hx-delete="{% url 'DeleteImageView' image_id=item.id %}"
                        hx-confirm="Are you sure you wish to delete the image?"
                        hx-target="#main"
                        hx-swap="outerHTML"
                    >
                        <div class="mdc-button__ripple"></div>
                        <span class="text-red-800 mdc-button__label">Delete</span>
                    </button>
                </div>
            </div>
        {% empty %}
            <li>There're no images yet!</li>
        {% endfor %}
    </ul>

    {% url 'UploadImageView' as images_url %}
    {% include "cms/Modules/Pagination.html" with page_obj=images url=images_url %}

    {% include "Cms/Modules/AddImageForm.html" with target="#main" %}
{% endblock %}
