{% extends "cms/Layout.html" %}

{% block navigation %}
    {% include "cms/Modules/Navigation.html" with selected="Pages" %}
{% endblock %}

{% block header %}
    {% include "cms/Components/Title.html" with text="All Pages" %}
    {% url 'CreatePageView' as create_url %}
    {% include "cms/Components/Button.html" with text="Create New Page" get=create_url %}
{% endblock %}

{% block main_content %}
    {% include "cms/Modules/MessagesList.html" %}
    {% include "cms/Components/List.html" with items=pages %}

    {% url 'PagesView' as pages_url %}
    {% include "cms/Modules/Pagination.html" with page_obj=pages url=pages_url %}

{% endblock %}
