{% extends "cms/Layout.html" %}

{% block navigation %}
    {% include "cms/Modules/Navigation.html" with selected="Users" %}
{% endblock %}

{% block header %}
    {% include "cms/Components/Title.html" with text="All Users" %}
    {% url 'CreateUserView' as create_url %}
    {% include "cms/Components/Button.html" with text="Create New User" get=create_url %}
{% endblock %}

{% block main_content %}
<ul
    class="py-2 list-none"
>
    {% for user in users %}
        <div class="relative flex flex-col my-4 bg-white rounded-md shadow-md card">
            <li
                class="relative flex items-stretch justify-start px-4 py-2 hover:cursor-pointer"
                tabindex="0"
                hx-get="{% url 'EditUserView' username=user.username %}"
                hx-swap="innerhtml"
                hx-target="#main"
                hx-push-url="true"
                title="Edit User"
            >
                {% if user.superuser %}
                    <span class="flex items-center mx-2 w-9">
                        <img src="" alt="Thumbnail Image"/>
                    </span>
                {% else %}
                    <span class="flex items-center mx-2 text-4xl material-icons">
                        face
                    </span>
                {% endif %}
                <span>
                    <span class="text-base leading-8">{{user.first_name}} {{user.last_name}}</span>
                    <span class="flex flex-row flex-wrap justify-start gap-2 mt-0 text-sm text-gray-500">
                        <span class="inline-flex px-2 text-center bg-blue-200 rounded-full w-fit">
                            {{user.username}}
                        </span>
                        {% if user.is_superuser %}
                            <span class="inline-flex px-2 text-center bg-green-200 rounded-full w-fit">
                                Superuser
                            </span>
                        {% endif %}
                    </span>
                </span>
            </li>
            <li role="separator" class="bg-gray-200 h-[1px]"></li>
            <div class="flex flex-row flex-wrap items-center justify-end p-2">
                <button
                    class="relative inline-flex flex-row items-center justify-center px-4 mx-1 text-sm text-red-700 uppercase bg-transparent border-none rounded-md outline-none cursor-pointer select-none hover:bg-red-50 h-9"
                    hx-delete="{% url 'EditUserView' username=user.username %}"
                    hx-confirm="Are you sure you wish to delete {{user.username}}?"
                    hx-target="#main"
                    hx-swap="outerhtml"
                >
                    <span class="tracking-wider">Delete</span>
                </button>
                <button
                    class="relative inline-flex flex-row items-center justify-center px-4 mx-1 text-sm uppercase bg-transparent border-none rounded-md outline-none cursor-pointer select-none hover:bg-violet-50 h-9 text-violet-700"
                    hx-get="{% url 'EditUserView' username=user.username %}"
                    hx-swap="innerhtml"
                    hx-target="#main"
                    hx-push-url="true"
                >
                    <span class="tracking-wider">Edit {{user.username}}</span>
                </button>
            </div>
        </div>
    {% empty %}
        <li>There're no users yet!</li>
    {% endfor %}
</ul>

{% url 'UsersView' as users_url %}
{% include "cms/Modules/Pagination.html" with page_obj=users url=users_url %}

{% endblock %}
