<div
    class="grid content-center w-full gap-4 transition-all
        place-content-{{column.values|get_value:'align_content'}}

        {% if column.order == '2' and section.values|get_value:'wrap_reverse' == 'false' or  column.order == '1' and section.values|get_value:'wrap_reverse' == 'true' %}
            order-2
        {% else %}
            order-1
        {% endif %}

        {% if column.order == '1' and section.values|get_value:'wrap_reverse' == 'false' or  column.order == '2' and section.values|get_value:'wrap_reverse' == 'true' %}
            md:order-2
        {% else %}
            md:order-1
        {% endif %}
    "
>
    {% for component in column.components %}
        <div>
            {% with template_name=component.name|stringformat:"s"|add:".html" %}
                {% include "website/Components/"|add:template_name %}
            {% endwith %}
        </div>
    {% endfor %}
</div>