{% extends "cms/base.html" %}

{% block title %}
  {{title}}
{% endblock %}


{% block content %}
  <div id="messages" class="absolute">
    {% include "cms/Modules/MessagesList.html" %}
  </div>
  <main 
    class="flex flex-col min-h-full p-2 transition-all lg:px-8 sm:mx-auto sm:w-full md:max-w-xl"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  >
    <div
      class="flex flex-row flex-wrap items-end justify-between gap-2"
    >
        {% block header %}
        {% endblock %}
    </div>
    {% block main_content %}
    {% endblock %}
  </main>

  <footer
    class="flex items-center justify-center p-8 text-white bg-violet-700 saturate-5"
  >
    <p
      class="w-auto text-sm text-white "
    >
      Bachelor project summer 2023
    </p>
  </footer>
{% endblock  %}
