{% include "cms/Modules/MessagesList.html" %}
<div
    class="order-last p-2 m-2 border"
>
    <h2 class="flex justify-center text-sm font-bold text-indigo-900 uppercase">Add new component</h2>
    <form
        class="flex flex-row items-center gap-2"
        hx-post="{% url 'CreateComponentView' slug=page.slug section_id=section.id column_id=column.id %}"
        hx-swap="outerhtml"
        hx-target="#componentslist{{column.id}}"
    >
        {% include "cms/Components/Select.html" with name="name" label="Component Name" values=customization_data %}
        {% include "cms/Components/Button.html" with text="Add" type="submit" %}
    </form>
</div>
