<details
    style="order:{{section.order}};"
    class="grid border"
>
    <summary class="p-4 bg-indigo-50">Section {{section.order}} - {{section.name}}</summary>
    <form class="grid gap-2 p-1 mx-2 mt-2 border">
        {% for value in section.values %}
            {% if value.key == 'wrap_reverse' %}
                {% include "cms/Components/Checkbox.html" with name="wrapReverse"|add:section.order label="Wrap Reverse?" value=value.value %}
            {% elif value.key == 'background_color' %}
                {% include "cms/Components/ColorInput.html" with name="backgroundColor"|add:section.order label="Background Color" value=value.value %}
            {% endif %}
        {% endfor %}
        
        {% include "cms/Components/Button.html" with text="Save Section" type="submit" %}
    </form>
    {% for column in section.columns %}
        {% include "Cms/Modules/ColumnEdit.html" %}
    {% endfor %}
</details>