{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="This would describe the website">
        <meta name="title" content="This would be the website title">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{% block favicon %}{% static 'favicon.svg' %}{% endblock %}"/>
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
        <link rel="stylesheet" href="{% static 'Cms/output.css' %}" defer />
        <style>
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
        </style>
    </head>
    <body
        class="w-screen overflow-x-hidden"
        hx-target="this"
    >
    {% block content %}
    {% endblock %}
    </body>
</html>
