{% extends "website/base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}

{% if initial_data %}
    {% block initial_data %}
        <script>
            window.__INITIAL__ = {% if initial_data %}{{initial_data|safe}} {% else %} {} {% endif %}
        </script>
    {% endblock %}
{% endif %}

{% block content %}
{% if bundle_name %}
    <section id='{{ bundle_name }}'></section>
    {% render_bundle bundle_name %}
{% endif %}
{% endblock %}
