{% extends "cms/Layout.html" %}

{% block navigation %}
    <div></div>
{% endblock %}

{% block header %}
    <div
        class="flex justify-center w-full"
    >
        {% include "cms/Components/Icon.html" %}
    </div>
    {% include "cms/Components/Title.html" with text="Log In to the Page Manager CMS" %}
{% endblock %}

{% block main_content %}
    {% url 'LoginView' as login_url %}
    <form class="m-auto space-y-6 sm:max-w-xs" hx-post=login_url hx-target="#main">
        <div>
        {% include "cms/Components/TextInput.html" with name="username" label="Username" %}
        {% include "cms/Components/TextInput.html" with name="password" label="Password" type="password" %}
        </div>
        <div
            class="text-center"
        >
        {% url 'FrontpageView' as frontpage_url %}
        {% include "cms/Components/Button.html" with text="Log In" type="submit" post=login_url pushurl=frontpage_url %}
        </div>
    </form>
{% endblock %}
