<button
    class="mb-2 mdc-button mdc-button--raised"
    type="{{type}}"
    {% if post %}
        hx-post={{post}}
        hx-target="#main"
        hx-swap="innerhtml"
        {% if pushurl == True %}
            hx-push-url="true"
        {% endif %}
    {% endif %}
    {% if get %}
        hx-get={{get}}
        hx-target="#main"
        hx-push-url="true"
        hx-swap="innerhtml"
    {% endif %}
    style="{% if color %}background-color:{{color}}{% endif %}"
>
    <span class="mdc-button__ripple"></span>
    <span class="mdc-button__label">{{text}}</span>
</button>
{% block scripts %}
    <script>
        document.querySelectorAll('.mdc-button').forEach((button) => {
            mdc.ripple.MDCRipple.attachTo(button);
        })
    </script>
{% endblock %}
