<div class="mdc-form-field">
    <div class="mdc-checkbox">
        <input
            type="checkbox"
            class="mdc-checkbox__native-control accent-pink-700"
            name="{{name}}"
            id="{{name}}"
            {% if value or value == "True" %}checked{% endif %}
        />
        <div class="bg-pink-700 mdc-checkbox__background">
        <svg class="mdc-checkbox__checkmark"
            viewBox="0 0 24 24">
            <path class="mdc-checkbox__checkmark-path"
                fill="none"
                d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
        </svg>
        <div class="mdc-checkbox__mixedmark"></div>
        </div>
        <div class="mdc-checkbox__ripple"></div>
    </div>
    <label
        for="{{name}}"
        {% if label == 'Wrap Reverse?' %}
        class="cursor-help"
        title="The order of the columns on mobile as they are listed here. When the viewport width expands the columns will lay beside eachother with the first on the left unless 'Wrap-reverse' is active in which case the second column will be on the left."
        {% endif %}
    >{{label}}</label>
</div>

{% block scripts %}
    <script>
        document.querySelectorAll('.mdc-checkbox').forEach((checkbox) => {
            mdc.checkbox.MDCCheckbox.attachTo(checkbox);
        })
    </script>
{% endblock %}
