<div
    class="flex flex-row bg-white border border-pink-600 shadow-md"
    role="alertdialog"
    aria-live="assertive"
    _="on load wait 2s then transition opacity to 0 then remove me"
>
    <div class="mdc-banner__graphic-text-wrapper">
        <div class="items-center self-center rounded-full mdc-banner__graphic material-icons" role="img" alt="Error">
            error_outline
        </div>
        <div class="mdc-banner__text ">
            {{ message }}
        </div>
    </div>
</div>