<div class="flex gap-1">
    <input type="radio" id="{{value}}{{id}}" name="alignment" value="{{value}}"
        {% if chosen == value %}checked{% endif %}
    />
    <label for="{{value}}{{id}}" class="mr-2">{{label}}</label>
</div>
    {% comment %} <div class="flex items-end">
        <div class="mdc-radio mdc-radio--touch">
            <input class="mdc-radio__native-control" type="radio" id="center" name="alignment" value="center"
                {% if value == 'center' %}checked{% endif %}
            />
            <div class="mdc-radio__background">
                <div class="mdc-radio__outer-circle"></div>
                <div class="mdc-radio__inner-circle"></div>
            </div>
            <div class="mdc-radio__ripple"></div>
        </div>
        <label for="center" class="mr-2">Center</label>
    </div>
    <div class="flex items-end">
        <div class="mdc-radio mdc-radio--touch">
            <input class="mdc-radio__native-control" type="radio" id="right" name="alignment" value="right"
                {% if value == 'right' %}checked{% endif %}
            />
            <div class="mdc-radio__background">
                <div class="mdc-radio__outer-circle"></div>
                <div class="mdc-radio__inner-circle"></div>
            </div>
            <div class="mdc-radio__ripple"></div>
        </div>
        <label for="right" class="mr-2">Right</label>
    </div> {% endcomment %}